<div class="wrapper">
  <div class="row">
    <div class="col-md-12 page-header">
      <h2>Table of Users</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <input type="text" class="input-text" [(ngModel)]="userData.firstName" placeholder="First Name"/>
    </div>
    <div class="col-md-2">
      <input type="text" class="input-text" [(ngModel)]="userData.lastName" placeholder="Last Name"/>
    </div>
    <div class="col-md-2">
      <input type="text" class="input-text" [(ngModel)]="userData.gender" placeholder="Gender"/>
    </div>
    <div class="col-md-2">
      <input type="text" class="input-text" [(ngModel)]="userData.nationality" placeholder="Nationality"/>
    </div>
    <div class="col-md-2">
      <input type="text" class="input-text" [(ngModel)]="userData.department" placeholder="Department"/>
    </div>
    <div class="col-md-2">
      <button  class="btn btn-primary" (click)="addUser()">Add User</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <ngx-datatable class="material fullscreen" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
      [limit]="5" rowHeight="auto" footerHeight="50"></ngx-datatable>
    </div>
  </div>
</div>
